node_modules
.DS_Store
dist
dist-ssr
*.local
node_modules/*
build/*
public/*
dist/*
docs/*
templates/*
src/react-app-env.d.ts
src/serviceWorker.ts
src/assets/*
src/index.html
*/**/*.scss
webpack.dev.config.ts
webpack.prod.config.ts