@import './Variables.scss';

.logo {
    margin-top: 10;
    font-size: 30px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.navigation h3 {
    overflow: hidden;
}

.link {
    text-decoration: none;
    font-size: 15px;
}

.search-bar {
    margin-top: 30px;
}

.user-area {
    float: right;
    display: inline-flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.user {
    margin-top: 5px;
}

.nav {
    padding: 0px 30px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.dark-Mode-Button {
}
