// Global
$dark-background: #3a3a3a;
$light-background: #f5f5f5;

// Logo
$logo-color-dark: #3a3a3a;
$logo-color-light: #f5f5f5;

$theme-background: $light-background;

// SiteLayout
$navbar-background: $theme-background;
$navbar-height: 64px;

$sidePanel-background: $theme-background;
$sidePanel-width: 250px;
$sidePanel-padding: 50px;
