.container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        'sideBar topBar topBar'
        'sideBar content content'
        'sideBar content content';
}

.sideBar {
    grid-area: sideBar;
    min-width: 200px;
    max-width: 350px;
}

.topBar {
    grid-area: topBar;
}

.content {
    grid-area: content;
    padding: 8px;
}
